nav {
    background-color: #333;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}
.menu a:hover {
    background-color: #575757;
    border-radius: 5px;
}